body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(236, 236, 236);
}
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: normal;
}
#headerContainer{
    background: linear-gradient(to right, rgb(252, 251, 184) 0%, rgb(48, 171, 208) 50%, rgb(214, 152, 209) 100%);
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}
#heading{
    /* background: linear-gradient(to right, rgb(252, 251, 184) 0%, rgb(48, 171, 208) 50%, rgb(214, 152, 209) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
}
table{
    border-collapse: collapse;
    margin: auto;
}
td{
    border: 1px solid rgb(187, 187, 187);
    width: 20px;
    height: 20px;
    background-color: white;
}
#cellOptions{
    margin: 0;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}
button:hover{
    cursor: pointer;
}
input:focus, button:focus, select:focus{
    outline: none;
}
.cellsBtn, input{
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 100%;
    font-weight: bold;
}
.tableManip{
    background-color: white;
    color: #464646;
}
.tableManip:hover{
    background-color: rgb(247, 247, 247);
}
#hexColor, #addAmt{
    color: black;
    border: 1px solid rgb(170, 170, 170);
    width: 80px;
}
#addAmt{
    width: 20px;
}
#hexColor::placeholder, #addAmt::placeholder{
    color: rgb(231, 231, 231);
}
#hexFillBtn{
    background-color: #949494;
    color: white;
}
#clearFillBtn, #resetBtn{
    color: black;
}
#eraseFillBtn{
    color: #e0b5d5;
}
#eraseFillBtn:hover, #clearFillBtn:hover, #resetBtn:hover{
    background-color: rgb(247, 247, 247);
}

/* Adding a gradient fill to the text */
#addRowTxt, #addColTxt, #deleteRowTxt, #deleteColTxt{
	text-transform: uppercase;
	/* background: linear-gradient(to right, rgb(208, 197, 48) 0%, rgb(165, 208, 48) 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
#deleteRowBtn, #deleteColBtn, #addRowBtn, #addColBtn{
    /* padding: 8px 2px; */
}
#addRowBtn, #addColBtn{
    /* background: linear-gradient(to right, rgb(208, 197, 48) 0%, rgb(165, 208, 48) 100%); */
}
#deleteRowBtn, #deleteColBtn{
	/* background: linear-gradient(to right, rgb(195, 48, 208) 0%, rgb(208, 48, 48) 100%); */
	/* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}